@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&display=swap');

/** Basic Page Styling **/
body{
    background-color: mistyrose;
}

@keyframes example {
    from {background-color: rosybrown;}
    to {background-color: pink;}
}

nav {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50px;
    background-color: rosybrown;
    font-family: Sometype Mono;
    animation-name: example;
    animation-duration: 4s;
}

a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

a:hover {
    color:saddlebrown;
    background-color:rgba(255, 228, 225, 0.836);
}

h1, h2 {
    font-family: Sometype Mono;
    color: rgb(73, 47, 28);
    text-align: center;
}

/** Styling Ids & Classes **/
#miffy-gif {
    width: 250px;
    height: 250px;
}

#ImageDiv2 {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#cute-cat {
    width: 500px;
    height: 400px;
    position: relative;
    display: block;
    float: right;
}

.progress-container {
    width: 100%;
    background: #eee;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: seagreen;
    border-radius: 5px;
    transition: width 0.3s ease;
}

/** Resume Section **/
#resume {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    max-width: 70%;
    gap: 15px;
    border-width: 2px;
    border-style: solid;
    border-color:rgb(156, 125, 85);
    background-color:rgb(252, 222, 227);
    padding: 50px;
    justify-content: center;
}

#job-skills {
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}

p, li {
    color: rgb(34, 21, 11);
    text-align: center;
}