@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&display=swap');

body{
    background-color: mistyrose;
}

nav {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50px;
    background-color: rosybrown;
    font-family: Sometype Mono;
}

a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

a:hover {
    color:saddlebrown;
    background-color:rgba(255, 228, 225, 0.836);
}

h2 {
    font-family: Sometype Mono;
    color: rgb(73, 47, 28);
}