body {
    background-image: url('https://i.pinimg.com/originals/43/2a/37/432a3783c9da69a99736c8bcdf60ce7c.jpg');
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=66718)
}

h1, h2 {
    text-align: center;
    color: rgb(73, 47, 28);
}

p {
    text-align: center;
}

nav {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50px;
    background-color: rosybrown;
    font-family: Sometype Mono;
}


a {
    text-decoration: none;
    color: rgb(36, 11, 11);
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

a:hover {
    color: saddlebrown;
    background-color: rgba(255, 228, 225, 0.836);
}

/* Video & QR Code */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.video-container iframe,
.video-container img {
    width: 400px;
    height: 447px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Image Columns */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    align-items: flex-end;
}

/* Adjusting my images so they can all fit and align together */
.column {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.column img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.heart {
  position: fixed;
  font-size: 24px;
  animation: float 6s infinite;
  z-index: 10;
  pointer-events: none;
}

@keyframes float {
  0% { transform: translateY(100vh) rotate(0deg); opacity: 1; }
  100% { transform: translateY(-10vh) rotate(360deg); opacity: 0; }
}

